{% extends 'base.html.twig' %}

{% do pagination.setTemplate('@KnpPaginator/Pagination/twitter_bootstrap_v3_pagination.html.twig') %}

{% block title %}Post index{% endblock %}

{% block body %}
    <div class="container m-sm-1 m-md-3 m-lg-5">
        <div class="card text-center">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link {{ currentTheme is null ? 'active' : '' }}" aria-current="true" href="{{ url('post_index') }}">Toate</a>
                    </li>
                    {% for theme in themes %}
                        <li class="nav-item">
                            <a class="nav-link {{ (currentTheme is not null) and theme.id == currentTheme.id ? 'active' : ''}}" aria-current="true" href="{{ url('post_index', {'theme' : theme.id}) }}">{{ theme.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="card-body">
                {% for post in pagination %}
                    {% include './post/proposal.html.twig' with {'post': post } only %}
                {% endfor %}
            </div>

            <div class="card-footer">
                <div class="navigation mt-3">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
